{% extends '_base.html' %} {% block title %} Create {% endblock %}
{% block content %}
<h1>Create new snack</h1>
<form method="post">
    {% csrf_token %} {{ form.as_table }}
    <!-- <div>
        <label for={{snack.title}} class="block text-sm font-medium text-gray-700">
            Title
        </label>
        <div class="mt-1">
            <textarea id={{snack.title}} name={{snack.title}} rows="3"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                placeholder="you@example.com"></textarea>
        </div>
    </div>
    <div>
        <label for={{snack.description}} class="block text-sm font-medium text-gray-700">
            Description
        </label>
        <div class="mt-1">
            <textarea id={{snack.description}} name={{snack.description}} rows="3"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                placeholder="you@example.com"></textarea>
        </div>
    </div>
    <div class="col-span-6 sm:col-span-3">
        <label for="country" class="block text-sm font-medium text-gray-700">Purchaser</label>
        <select id="country" name="country" autocomplete="country-name"
            class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option>{{snack.purchaser}}</option>

        </select>
    </div> -->
    <button type="submit"
        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        value="Create">
        Create
    </button>
</form>

{% endblock %}